*
!package.json
!pnpm-lock.yaml
!pnpm-workspace.yaml
!tsconfig.json
!turbo.json
!packages
!packages/extension
!packages/extension/**
!packages/integrations
!packages/integrations/**
!packages/protocol
!packages/protocol/**
!packages/sdk-ts
!packages/sdk-ts/**

**/.turbo
**/dist
**/node_modules
**/tests
**/*.test.ts
