name: Release

on:
  push:
    branches:
      - main

permissions:
  contents: write
  pull-requests: write
  id-token: write

concurrency: ${{ github.workflow }}-${{ github.ref }}

jobs:
  release:
    name: Release
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Repo
        uses: actions/checkout@v6
        with:
          fetch-depth: 1

      - uses: ./.github/actions/setup-node-pnpm-turbo
        with:
          use-prebuilt-artifacts: "false"

      - name: Run Lint & Build
        run: pnpm run lint && pnpm run build

      - name: Create Release Pull Request or Publish to npm
        id: changesets
        uses: changesets/action@v1
        with:
          publish: pnpm run release
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      - name: Publish Canary
        if: github.ref == 'refs/heads/main'
        run: |
          git checkout main
          pnpm run release-canary
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
