name: Release

on:
  push:
    branches:
      - main

permissions:
  contents: write
  pull-requests: write
  id-token: write

concurrency: ${{ github.workflow }}-${{ github.ref }}

jobs:
  release:
    name: Release
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Repo
        uses: actions/checkout@v6
        with:
          fetch-depth: 0

      - uses: ./.github/actions/setup-node-pnpm-turbo
        with:
          use-prebuilt-artifacts: "false"

      - name: Configure npm registry for Trusted Publishing
        uses: actions/setup-node@v6
        with:
          node-version: 20.x
          registry-url: "https://registry.npmjs.org"

      - name: Update npm for Trusted Publishing
        run: npm install -g npm@latest

      - name: Run Lint & Build
        run: pnpm exec turbo run lint && pnpm exec turbo run build

      - name: Create Release Pull Request or Publish to npm
        id: changesets
        uses: changesets/action@v1
        with:
          publish: pnpm run release
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      - name: Publish Canary
        if: github.ref == 'refs/heads/main'
        run: |
          git checkout main
          pnpm run release-canary
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
